html
  head
    title Questions
    link(rel="stylesheet" href="./public/bootstrap.min.css")
    script(src="./public/main.js")
  body
    div(class='container d-flex flex-column justify-content-center')
      div(style='height: 10rem;')
      block content
