extends base.pug

block content
  if !question
    button(id="newQuestion" class="btn btn-primary") New Question
  else
    h1 #{question.title}
    h3 difficulty #{question.difficulty}
    ul
      each answer, index in question.answers
        li
          button(id=`answer${index}` class="btn btn-outline-primary") #{answer}
