extends base.pug

block content
  if !question
    button(id="newQuestion" class="btn btn-primary") New Question
  else
    h1 #{question.title}
    h3 difficulty #{question.difficulty}
    ul(class="list-group")
      each answer, index in question.answers
        li(id=`answer${index}` class="btn btn-outline-primary list-group-item") #{answer}
